<footer class="center">
  <div class="measure">
    <small>
      Nội dung ca dao tục ngữ <a href="http://bakadono.com">Ông, Cha để lại</a> Poweredby (<a href="https://thaoam.com">@thaoam</a>).<br>
      Tìm kiếm dự án mở tại <a href="https://thaoam.com">Thảo Am</a>.
    </small>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
